body{
    background: hsl(228, 22.4%, 13.1%);
    margin: 0 auto;
}
.Contenedor-Maximo{
    width: 100%;
}
.Contenedor-Menu{
    width: 100%;
    background: rgb(20, 20, 20);
    height: 50px;
    display: flex;
    z-index: 3;
    position: sticky;
    top: 0;
    right: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}
.logo img{
    width: 40%;
}
.menu{
    width: 70%;
}
.MONU{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: "Avenir LT Pro", sans-serif;
}
.MONU a, li{
    font-size: 12px;
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
}
.MONU a::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -10px;
    height: 2px;
    width: 70%;
    background: linear-gradient(to right, white 0%, white 100%);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
.MONU a:hover::after {
    left: 20px;
    width: 75%;
    margin-bottom: -0px;
    transform: scaleX(1);
}
/*Slider*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px !important;
    border-radius: 11px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    box-shadow: 1px 1px 20px black;
  }

  .swiper-slide img {
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2 !important;
  }
  .swiper-slide .che{
    width: 400px;
    z-index: 1 !important;
    position: relative !important;
    top: -280px !important;
    left: 50px;
  }
  .swiper-slide .che2{
    width: 200px;
    z-index: 1 !important;
    position: relative !important;
    top: -280px !important;
    left: 50px;
  }
  .swiper-slide .che3{
    width: 250px;
    z-index: 1 !important;
    position: relative !important;
    top: -240px !important;
    left: 50px;
  }
  .swiper-slide .che4{
    width: 300px;
    z-index: 1 !important;
    position: relative !important;
    top: -230px !important;
    left: 50px;
  }
  .swiper-slide .che5{
    width: 300px;
    z-index: 1 !important;
    position: relative !important;
    top: -250px !important;
    left: 50px;
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-pagination{
    position: relative !important;
    top: 4px !important;
    
  }
  /*Final Slider*/
  /*Empresas*/
.empresas{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.empresas div{
  display: flex;
  justify-content: space-evenly;
}
.empresas div ul{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.empresas div ul li .pepe{
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
  left: 0;
  width: 90%;
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  background-image: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 10px;
}
.empresas div ul li .juan{
  display: flex;
  margin-left: 0;
  z-index: 2;
  width: 90%;
  border-radius: 11px;
  box-shadow: 1px 20px 20px black;
  
}
.empresas div ul li .pepe:hover{
  border: 2px solid white;
  display: flex;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 1;
  width: 89.9%;
  background: none;
}
/*Fin Empresas*/
/*Glider 2*/
.glider-contain{
  margin-top: 50px !important;
  width: 94% !important;
  color: rgb(199, 199, 199);
  font-family: "Avenir LT Pro", sans-serif;
  position: relative;
  margin-bottom: -50px !important;
}
.glider-contain p{
  font-size: 1rem !important;
  position: relative;
  top: 10px;
  left: 28px;
}
.glider div{
  margin-left: 13px;
  border-radius: 20px;
}
.glider img{
  border-radius: 5px;
}
.glider-contain .glider-next{
  position: relative !important;
  bottom: 85px;
  left: 95%;
}
.glider-contain .glider-prev{
  position: relative !important;
  bottom: 85px;
  left: -30px;
}
/*Fin Glider2*/
/*Glider3*/
.glider-contain{
  position: relative;
}

.glider-contain .glider-next{
  position: relative !important;
  bottom: 85px;
  left: 95%;
  background: none;
}
.glider-contain .glider-prev{
  position: relative !important;
  bottom: 85px;
  left: -30px;
}
/*Fin Glider3*/
/*contendorfinal*/
.contendorfinal{
  margin-top: 20px;
  width: 100%;
  background-color: #0e0b14;
  font-family: "Avenir LT Pro", sans-serif;
}
.contendorfinal a{
  color: white;
  text-decoration: none;
  font-size: 10px;
}
.contendorfinal .logo{
  width: 100%;
}
.contendorfinal .logo img{
  width: 6%;
  margin-top: 10px;
}
.contendorfinal .terminos1{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contendorfinal .terminos1 div{
  margin-top: 10px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.contendorfinal .terminos2{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contendorfinal .terminos2 div{
  margin-top: 10px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.contendorfinal .terminos3{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.contendorfinal .terminos4{
  width: 100%;
  display: block;
  margin-top: 10px;
}
.contendorfinal .terminos4 p{
  width: 100%;
  height: 10px;
  color: rgb(186, 186, 186);
  font-size: 10px;
  display: flex;
  justify-content: center;
}
.terminos4 .p2{
  position: relative;
  top: -9px;
}
.terminos4 .p3{
  position: relative;
  top: -10px;
  margin-bottom: -10px;
}

/* Name Perfil */
@media screen and (min-width: 300px) {
  .name-tag {
    display: none;
  }
  .hidden-p {
    display: none;
  }
  .acort-links {
    display: none;
  }
  .nav-links ul li {
    margin-right: 0px;
  }
  .acort-menu {
    display: initial;
  }
  .name-user {
    display: none;
  }
  .img-user {
    width: 35px !important;
    height: 35px !important;
  }
}
@media screen and (min-width: 1224px) {
  .name-user {
    display: inline;
  }
  .name-tag {
    display: inline;
  }
  .hidden-p {
    display: inline;
  }
  .nav-links ul li {
    margin-right: 30px;
  }
  .acort-menu {
    display: none;
  }
  .img-user {
    width: 40px !important;
    height: 40px !important;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Profile */
.profile {
  font-family: "Avenir LT Pro", sans-serif;
  position: fixed;
  display: inline-flex;
  right: 18px;
  top: 24px;
  margin: 0;
  height: 0%;
  transition: height 0.4s ease-in-out;
  cursor: pointer;
  z-index: 1;
  font-size: 14px;
}
.profile:hover {
  display: inline-block;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.profile-selected {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-selected .avatar {
  margin: 20px;
}
.profile:hover p {
  display: inline;
}
.profile p {
  color: white;
}
.profile:hover {
  top: 0;
  right: 0;
  width: 200px;
  border-right: 1px solid rgb(82, 82, 82);
  border-left: 1px solid rgb(82, 82, 82);
  border-bottom: 1px solid rgb(82, 82, 82);
  background: #131313;
  height: auto;
  animation-name: viewprofiles;
  animation-duration: 0.3s;
}
@keyframes viewprofiles {
  0% {
    top: -50px;
    opacity: 0%;
  }
  50% {
    opacity: 55%;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}
.profile:hover .profile-selected {
  border-bottom: 1px solid rgb(82, 82, 82);
}
/* Profile Nav */
.profile-nav {
  display: none;
  margin-right: 10px;
  position: relative;
  right: 20px;
}
.profile:hover .profile-nav {
  display: block;
}
.profile-nav-profiles p {
  color: white;
  margin-left: 5px;
  font-size: 13px;
}
.header li {
  list-style: none;
}
.profile-nav-profiles li {
  display: flex;
  align-items: center;
}
.profile-nav-profiles img {
  margin-top: 15px;
  margin-left: 15px;
}
.profile-nav-options li {
  margin: 15px;
}
.plus-perfil {
  margin-top: 15px;
  margin-left: 15px;
  padding: 12px;
  border-radius: 50px;
  background: rgb(82, 82, 82);
}
.plus-perfil svg {
  display: block;
  margin: auto;
  justify-content: center;
}
.plus-perfil:hover {
  background: rgb(102, 102, 102);
}
